
/*----------------------------------------------------
responsive.css
@Author: Noemi Leon

Table of Content
- SM
- MD
- LG
- XL
---------------------------------------------------- */

/*
==============================================
	SMALL (landscape phones, 576px and up)
==============================================
*/
@media (min-width: 576px) {
    .header-area .main-menu .navbar .nav-link{
        padding: .5rem 1rem;
    }
    .card-container .card {
        max-width: 240px;
    }
}

/*
==============================================
    MEDIUM (tablets, 768px and up)
==============================================
*/
@media (min-width: 768px) {
    .header-area .main-menu .navbar .nav-link{
        font-size: 16px;
    }
    .main-info{
        padding-bottom: 42px;
        margin-bottom: 78px;
    }
    .main-info .container{
        bottom: -120px;
    }
    .card-container .card {
        max-width: 360px;
    }
}

/*
==============================================
    LARGE (desktops, 992px and up)
==============================================
*/
@media (min-width: 992px) {
    .card-container .card{
        max-width: 240px;
    }
}
/*
==============================================
    EXTRA LARGE (large desktops, 1200px and up)
==============================================
*/
@media (min-width: 1200px) {
    .card-container .card {
        max-width: 360px;
    }
}